.aboutMe {
    background-color: #2F4F4F;
    color: white;
    opacity: 0.9;
}

.aboutHeader {
  margin-left: 0px;
}

.card-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

.name {
  font-family: 'Sacramento', cursive;
  font-size: 35px;
}

.proimage {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    float: left;
    margin-right: 30px;
    margin-left: -12px;
}

section {
    font-weight: lighter;
  }

span {
    font-weight: bold;
    font-style: italic;
  }

ul {
    list-style-type: circle;
  }

  a:hover {
    color: grey;
    background-color: white;
  }
  