.card {
    background-color: #2F4F4F;
    color: white;
    opacity: 0.9;
    border-radius: 1em;
  }
  
  .card-body{
    font-weight: bold;
  }

.fa-linkedin, .fa-github {
    color: white;
    font-size: xx-large;
    margin-right: 10px;
    margin-bottom: 20px;
  }

.fa-envelope {
  margin-right: 10px;
}

a {
  color: white;
}

a:hover {
  color: #2F4F4F;
}

p {
  font-weight: lighter;
}